/* Google common font  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* universal styles  */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/* Common styles  */

body {
  font-family: "Poppins", sans-serif;
}

/* Top header banner  */

header {
  width: 90%;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  border-radius: 30px;
  width: 100%;
  margin-top: 50px;
  padding-left: 100px;
  gap: 60px;
}

.banner-text h1 {
  color: white;
  position: relative;
  bottom: 20px;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
}

.banner-text p {
  color: white;
  position: relative;
  bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.banner-text,
.banner-image {
  width: 50%;
}

.banner-image img {
  width: 581px;
  height: 613px;
}

/* banner button  */

.watch-live-btn {
  text-decoration: none;
  background-color: rgb(230 136 9);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* football icon rotate animation  */

.fa-futbol {
  position: relative;
  left: 10px;
  animation: animation 0.5s ease-in-out infinite;
}
@keyframes animation {
  0% {
    transform: rotate(360deg);
  }
}

/* Main Middle section  */

main {
  width: 90%;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 100px;
}

/* middle section menu  */

.left-menu-item {
  width: 280px;
  height: 280px;
  background: #161616;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.left-menu-item a {
  text-decoration: none;
  background: white;
  border-radius: 10px;
  width: 200px;
  height: 64px;
  color: #161616;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-menu-item a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
/* #current-page:visited {
  background: rgb(230 136 9);
  color: #ffffff;
  font-weight: 600;
  line-height: 30px;
} */

/* current page color style  */

#current-page {
  background: rgb(230 136 9);
  color: #ffffff;
  font-weight: 600;
  line-height: 30px;
}

/* middle section blogs  */

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  width: 312px;
  height: 360px;
}
.blog img {
  width: 100%;
}
.blog-info {
  padding: 10px 11px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.blog-tittle {
  border: 1px solid #161616;
  border-radius: 5px;
  color: #161616;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 18px;
}
.blog-info > p {
  position: relative;
  left: -90px;
}

.blog-status {
  display: flex;
  gap: 80px;
  color: rgba(22, 22, 22, 0.7);
  position: relative;
  top: 10px;
}

/* footer style  */

.footer {
  height: 100%;
  background: #161616;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.footer h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 80%;
}

.footer-links {
  display: flex;
  padding: 15px;
  gap: 50px;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b9b9b9;
}

.footer-links a:hover {
  color: white;
}

/* footer Social icon transition */

.social-icon {
  display: flex;
  padding: 15px;
  gap: 30px;
  margin-bottom: 10px;
}

.social-icon a:hover {
  transform: scale(1.7);
  transition: 0.3s;
}
/* footer Bonus Icon Color  */

.fa-facebook {
  color: #16a7fc;
}
.fa-youtube {
  color: #ff0000;
}
.fa-instagram {
  color: #e1306c;
}
.fa-discord {
  color: rgb(115, 138, 219);
}
.view-all {
  display: none;
}

/* Resonsive Media Query */

/* For Tablet */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .top-banner {
    position: relative;
  }
  .banner-image img {
    width: 300px;
    height: 613px;
  }
  .banner-text h1 {
    font-size: 40px;
  }
  .banner-text p {
    font: 14px;
  }
  .middle-section {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  .left-menu-item {
    flex-direction: row;
    background: white;
    height: auto;
    width: auto;
  }
  .left-menu-item a {
    border: 1px solid #e8e8e8;
    width: 180px;
  }

  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .view-all {
    display: inline;
    position: relative;
    left: 45%;
  }

  .footer {
    position: relative;
    top: 60px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*  For Mobile   */

@media only screen and (max-width: 767px) {
  .top-banner {
    flex-wrap: wrap;
    height: 600px;
    position: relative;
  }
  .banner-text {
    width: 100%;
    padding: 20px 100px 0 30px;
    text-align: center;
  }
  .banner-text h1 {
    font-size: 20px;
    position: relative;
    bottom: -10px;
    line-height: 30px;
  }
  .banner-text p {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 12px;
  }
  .watch-live-btn {
    padding: 7px;
  }
  .fa-futbol {
    position: relative;
    left: 2px;
  }
  .banner-image img {
    width: 280px;
    height: 300px;
    position: relative;
    top: -50px;
    left: -100px;
  }
  .banner-text p {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .middle-section {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .left-menu-item {
    flex-direction: column;
    background: white;
    height: auto;
    width: auto;
  }
  .left-menu-item a {
    border: 1px solid #e8e8e8;
    width: 170px;
    height: 40px;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    position: relative;
    top: 60px;
  }
  .footer h1 {
    font-size: 22px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}
